* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 2rem;
  background-color: white;
  padding: 0 0 8px;
  border-bottom: 1px solid rgba(161, 160, 160, 0.192);
}

.navright {
  padding-left: 10px;
}

.navleft {
  padding-right: 10px;
}

.navbutton {
  margin: 5px 15px 0;
  padding-top: 8px;
  padding-bottom: 0;
  width: 4px;
  border: none;
  background-color: white;
}

.navlink {
  color: black;
  font-weight: 800;
  padding-left: 10px;
  font-size: 16px;
}

.navleft .navlink {
  border: 1px solid #567b95;
  background-color: #567b95;
  border-radius: 5px;
  padding: 9px 10px 6px;
  margin-bottom: 3px;
  letter-spacing: 0;
  font-size: 13px;
  font-weight: 700;
  color: white;
}

.logo {
  width: 210px;
  height: auto;
  padding-top: 3px;
}

.navleft .navbutton {
  border: 1px solid #567b95;
  background-color: #567b95;
  color: white;
  width: 29%;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 9px 10px 6px;
  margin: 5px 10px 5px;
  border-radius: 3px;
}

.articles p {
  width: 50%;
  margin: 0 auto;
  font-size: 22px;
}

.title {
  padding: 100px 0 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid rgba(161, 160, 160, 0.452);
}

.order {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.order li {
  padding: 15px 12px;
}

.editors img {
  width: 70px;
  height: auto;
  padding-right: 5px;
}

.media img {
  width: 650px;
  height: 400px;
}

.alerts img {
  padding: 20px;
}

.alerts a img {
  float: right;
  padding: 10px;
  width: 36px;
}

.order li a img {
  width: 19px;
}

.order li button {
  border: none;
  background: rgba(255, 255, 255, 0);
}

.images {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.images .jumbo {
  width: 950px;
  height: auto;
}

.caption {
  font-size: 15px;
  opacity: 0.6;
}

.caption span {
  opacity: 0.5;
  font-size: 13px;
}

.top {
  width: 50%;
  margin: 0 24%;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
}

.top a {
  color: black;
}

.date {
  width: 50%;
  margin: 0 24%;
  font-size: 14px;
  padding: 0 14px;
}

.thanksnote {
  text-align: center;
  font-weight: bold;
}

.thanksnote hr {
  width: 90px;
  margin: 18px auto;
  color: rgba(194, 192, 192, 0.164);
}

.editors {
  width: 200px;
  float: right;
}

.editors .order {
  margin: 0;
  width: 180px;
  padding: 10px;
  font-size: 14px;
}

h2 {
  width: 50%;
  margin: 0 auto;
}

.inflation {
  background-image: url("images/inflation.png");
  background-repeat: no-repeat;
  background-size: 94%;
  width: 70%;
  margin: 0 auto;
  padding: 80px 0 90px;
}

.inflation .order {
  width: 100%;
  padding: 50px 0;
}

.inflation .order .theory {
  padding: 0 10px;
  font-size: 14px;
}

.inflation .order .theorysec {
  padding: 60px 10px 0;
  font-size: 14px;
}

.inflation hr {
  width: 100px;
  margin: 0 0 1% 0;
}

.inflation .top {
  width: 50%;
  margin: 0 auto;
}

h3 {
  width: 70%;
  margin: 0 auto;
}

.media {
  width: 50%;
  margin: 0 auto;
}

.media iframe {
  width: 680px;
  height: 400px;
  border: 3px solid #1d1c1c;
}

.media .caption {
  font-size: 15px;
}

.media .caption span {
  font-size: 14px;
}

.frarticle {
  width: 50%;
  margin: 0 auto;
}

.frarticle p {
  font-size: 14px;
  opacity: 0.8;
}

.frarticle .order {
  margin: 0;
  justify-content: space-between;
  width: 100%;
}

.frarticle .order .comment {
  padding: 6px 60px;
  border-radius: 3px;
  color: white;
  background-color: rgb(109, 141, 189);
  border-color: rgb(109, 141, 189);
  box-shadow: none;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 900;
}

.frarticle .order ul {
  display: flex;
}

.top-footer {
  display: flex;
  padding-top: 70px;
}

.newsletters {
  border-top: 1px solid black;
  width: 90%;
  margin: 30px 5%;
  padding-top: 20px;
}

.suggestions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 20px;
  margin-top: 20px;
}

.suggestions figure figcaption {
  font-family: 'Lusitana', serif;
  font-size: 16px;
  padding: 5px 0;
}

.alerts span a {
  padding: 5px 10px;
  color: rgb(74, 111, 165);
  font-weight: bold;
  font-size: 14px;
}

.newsletters h3 {
  width: 100%;
  margin: 0 auto;
}

.newsletters h3 a {
  color: black;
}

.suggestions figure figcaption a {
  color: black;
  padding: 5px 0;
}

.alerts {
  border: 1px solid rgba(165, 159, 159, 0.26);
  width: 100%;
  padding: 10px 0;
}

.alerts p {
  padding: 0 10px 2px;
  opacity: 0.8;
}

h4 {
  color: rgba(46, 45, 45, 0.897);
  font-weight: 800;
}

.spaceimg {
  width: 250px;
}

.spanlink {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.473);
}

.mostpopular {
  margin: 30px 30px 0 0;
  padding-top: 20px;
  width: 80%;
  border-top: 1px solid black;
}

.mostpopular ul li {
  font-family: 'Lusitana', serif;
  border-top: 1px solid rgba(26, 23, 23, 0.315);
  padding: 20px 0;
}

.mostpopular ul li a {
  color: black;
  font-size: 20px;
}

.lsfooter {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.lsfooter .order {
  width: 100%;
  justify-content: space-between;
  padding: 8px 0 10px;
}

.lsfooter .order .logo {
  width: 200px;
}

.news ul li a {
  color: rgb(29, 28, 28);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 550;
}

.border-left ul li a {
  color: black;
}

.lsfooter .order a {
  font-size: 12px;
  color: rgb(107, 107, 230);
}

.news {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-bottom: 30px;
}

.news ul li {
  padding: 3px 0;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(17, 16, 16, 0.849);
  padding-bottom: 6px;
}

.border-left {
  float: right;
  width: 15%;
  border-left: 1px solid rgba(165, 159, 159, 0.26);
  padding-left: 5px;
}

.border-left .bold {
  padding: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.border-left .small-text {
  color: rgb(29, 28, 28);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 3px;
}

.base-footer {
  width: 90%;
  margin: auto;
}

.base-footer .news {
  width: 95%;
  margin: auto;
}

.base-footer .news li a {
  color: rgba(29, 28, 28, 0.527);
  font-size: 12px;
}
